# Built-in Functions

In [ ]:
countAlpha = input('hello World')
print(countAlpha, len('hello World'))

In [2]:
countFloat = 12
print('float:', countFloat, type(countFloat))

float: 12 <class 'int'>

In [40]:
reversedText =['H', 'e', 'l', 'l', 'o', '', 'W', 'o', 'r', 'l', 'd','', '!'] [::-1]
print(reversedText)

['!', '', 'd', 'l', 'r', 'o', 'W', '', 'o', 'l', 'l', 'e', 'H']

In [ ]:
age = input('how old are you?')
print(age)

In [42]:
num = [2, 8, 1, 4, 6, 3, 7]
sortNum = sorted(num)
print(sortNum)

[1, 2, 3, 4, 6, 7, 8]

In [43]:
num = [2, 8, 1, 4, 6, 3, 7]
sumOfList = sum(num)
print(sumOfList)

31

In [44]:
num = [2, 8, 1, 4, 6, 3, 7]
minValue = min(num)
print(minValue)

1

In [45]:
num = [2, 8, 1, 4, 6, 3, 7]
maxValue = max(num)
print(maxValue)

8

In [47]:
calc = '(1+2)'
eval(calc)

3

# Lists, Tuples, Dictionaries

In [52]:
words = {}
words['Happy'] = 'Content'
words['Sad'] = 'Triste'
words['Eat']= 'Manger'
words['Drink'] = 'Boire'
words['Walk'] = 'Marcher'
print(words)

{'Happy': 'Content', 'Sad': 'Triste', 'Eat': 'Manger', 'Drink': 'Boire', 'Walk': 'Marcher'}

In [53]:
words['Face'] = 'Visage'
print(words)

{'Happy': 'Content', 'Sad': 'Triste', 'Eat': 'Manger', 'Drink': 'Boire', 'Walk': 'Marcher', 'Face': 'Visage'}

In [56]:
sentence = "I am the master of the world"
sentence.split()

['I', 'am', 'the', 'master', 'of', 'the', 'world']

In [61]:
universalNumber =  "The_universal_number_is_42"
number = universalNumber.split('_')
print(number)

['The', 'universal', 'number', 'is', '42']

In [59]:
heroes = {"Superman" : "Clark kent", "Batman" : "Bruce Wayne", "Spiderman" : "Tony Parker"}
print(heroes['Superman'])
print(heroes['Batman'])
print(heroes['Spiderman'])

Clark kent
Bruce Wayne
Tony Parker

In [81]:
heroes = {"Superman" : "Clark kent", "Batman" : "Bruce Wayne", "Spiderman" : "Tony Parker"}
print(heroes.keys())

dict_keys(['Superman', 'Batman', 'Spiderman'])

In [63]:
heroes = {"Superman" : "Clark kent", "Batman" : "Bruce Wayne", "Spiderman" : "Tony Parker"}
heroes['Spiderman'] = 'Peter Parker'
print(heroes)

{'Superman': 'Clark kent', 'Batman': 'Bruce Wayne', 'Spiderman': 'Peter Parker'}

In [69]:
prod_price = {}
prod_price['Laser sword'] = 229.0
prod_price['Mitendo DX'] = 127.30
prod_price['Linux cushion'] = 74.50
prod_price['Goldorak briefs'] = 29.90
prod_price['Nextpresso station'] = 184.60
print(prod_price)

{'Laser sword': 229.0, 'Mitendo DX': 127.3, 'Linux cushion': 74.5, 'Goldorak briefs': 29.9, 'Nextpresso station': 184.6}

In [74]:
values = prod_price.values()
total_prise = sum(values)
print(total_prise)

645.3

In [79]:
prod_price.pop('Laser sword')
print(prod_price)

{'Mitendo DX': 127.3, 'Linux cushion': 74.5, 'Goldorak briefs': 29.9, 'Nextpresso station': 184.6}