# Quizz 1 - Python basics

## a) type

### Create a variable 'string' containing "toto" and a variable 'number' containing the number 10.

In [5]:
varstng = 'toto'
varnum = 10

### Convert 'string' to unicode and 'number' in float

In [8]:
varstng="toto"
varstng.encode('utf-8')
print(varstng)

toto

In [9]:
varnum = 10
print(float(varnum))

10.0

### Reverse the contents of the variables 'string' and 'number' (in 1 line).

In [11]:
rev =['toto', 10]
rev[::-1]

[10, 'toto']

## b) List

### Create a list `A`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [ ]:
A = [1, 3, 2, 7, 4, 10, 46]


### Display the first 3 items in list `A` - in one line of code

In [18]:
A = [1, 3, 2, 7, 4, 10, 46]
A[:3]

[1, 3, 2]

### Create a list `B` that contains only the 3rd, 4th and 5th elements of `A` . Your line of code should only contain 8 characters (not including spaces) - Check your result carefully!

In [20]:
B = A[2:5]
print(B)

[2, 7, 4]

### Concatenate lists `A` and `B` to form list `C`.

In [22]:
A = [1, 3, 2, 7, 4, 10, 46]
B = [2, 7, 4]
C = A + B
print(C)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4]

### Using the zip function, associate the values of `A` and `B` in the variable `D`

In [25]:
D = list(zip(A, B))
print(D)

[(1, 2), (3, 7), (2, 4)]

### Add the number 5 to list `A`

In [26]:
A = [1, 3, 2, 7, 4, 10, 46]
A.append(5)
print(A)

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to the `C` list

In [27]:
C = [1, 3, 2, 7, 4, 10, 46, 2, 7, 4]
C.append(None)
print(C)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None]

### Write a function that takes as arguments a list 'lst' and an integer 'n' and returns the result of n concatenations of 'lst' with itself (e.g. lst=[1,2,3], n=2 --> [1,2,3,1,2,3]).

### You want to make parameter 'n' optional and set its value to 2 by default. How do you do it?

###  With a 'while' loop, print each element of the `C` list up to the `null` element.

In [30]:
C = [1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None]
while C:
    print(C.pop(-1))

None
4
7
2
46
10
4
7
2
3
1

### Calculate, with a 'for' loop, the number of even integers present in the list A

In [31]:
A = [1, 3, 2, 7, 4, 10, 46]

for num in A:
  
   if num % 2 == 0:
      print(num, end = " ")

2 4 10 46

### Rewrite the following expression with a multi-line 'for' loop

In [32]:
C = [element for element in A if element %2 == 0]
for num in C:
  
   if num % 2 == 0:
      print(num, end = " ")

2 4 10 46

### Create a function that takes a string as input and returns the first single letter of the string

In [53]:
def printme(str):
   "Hello"
   print(str)
    return;
print('H')

H

## c) Dictionaries

### Create a car dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [ ]:
Dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

### Access to the "year" value

In [54]:
Dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(Dict["year"])

1964

###  Use a loop to display all the dictionary keys

In [55]:
for x in Dict:
  print(x)

brand
model
year

###  Use a loop to display all the dictionary value

In [56]:
for x in Dict:
  print(Dict[x])

Ford
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (enumerate function).

In [57]:
for x, y in Dict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [62]:
Dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for idx, val in enumerate(Dict):
    print(idx, val)

0 brand
1 model
2 year

### With the help of a comprehension dictionary create a dictionary with the following keys and values :
| key  | value |
|---
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### Example of a dictionnary comprehension (similar to list comprehension):
```
dict = {key:value for key, value in zip(list_1, list_2)}
```

In [2]:
keys = [1, 2, 3]
values = ['car', 'car', 'car']
dict(zip(keys, values))

{1: 'car', 2: 'car', 3: 'car'}

## d) Functions

### Create a fibonacci function (fibonacci sequence: 0 1 1 2 3 5 8 13 ...)
Ex : ``fibonacci(13) return [0,1,1,2,3,5,8,13]``

In [63]:
def fibbo(n): 
    if(n<1): 
        print("NA") 
    elif(n==1): 
        print(0) 
    elif(n==2): 
        print(0,1) 
    else: 
        a=0 
        b=1 
        print(a,end=" ") 
        print(b,end=" ") 
        for i in range(n-2): 
            c = a + b 
            print(c,end=" ") 
            a=b 
            b=c 
 
n = int(input("Enter n:")) 
fibbo(n)

Enter n:13
0 1 1 2 3 5 8 13 21 34 55 89 144

### Execute your function (fibonacci(100) must be executed in less than 1 second)

In [ ]:
def fibbo(n): 
    if(n<1): 
        print("NA") 
    elif(n==1): 
        print(0) 
    elif(n==2): 
        print(0,1) 
    else: 
        a=0 
        b=1 
        print(a,end=" ") 
        print(b,end=" ") 
        for i in range(n-2): 
            c = a + b 
            print(c,end=" ") 
            a=b 
            b=c 
 
n = int(input("Enter n:")) 
fibbo(n)

### Create a fibonacci function using a generator
Ex : ``generate_fibonacci(10) ``

In [80]:
def fibonacci(n):
    
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n): return
        yield a
        a, b = b, a + b
        counter += 1
f = fibonacci(10)
for x in f:
    print(x),

0
1
1
2
3
5
8
13
21
34
55